.aider*
*.so
build/
gen-helper/build/
llama.cpp/build-uv/
src/gen-helper/build-uv/
src/llama_insight/libs/
src/llama_insight/_header/
src/llama_insight/_headers/
src/llama_insight/.deps/
**/__pycache__/
*.pyc
__pypackages__/
.vscode/
benchmark_results.json
embeddings/cache/
dist/
CMakeCache.txt
broken.info*
