[project]
name = "llama_insight"
version = "0.1.0"
description = "High-level llama.cpp multimodal bindings powered by cppyy."
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "cppyy",
    "Cython",
    "huggingface-hub",
    "setuptools>=80.9.0",
    "typer",
    "sh",
]

[tool.setuptools]
package-dir = {"" = "wrapper_src"}

[tool.setuptools.packages.find]
where = ["wrapper_src"]
