[project]
name = "llama-vision-warpper"
version = "0.1.0"
description = "Python bindings for llama.cpp multimodal functionality using cppyy and Cython."
requires-python = ">=3.12"
dependencies = [
    "cppyy",
    "Cython",
    "huggingface-hub",
    "setuptools>=80.9.0",
    "typer",
    "sh",
]
