[project]
name = "llm-agent-game"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pygame>=2.6.1",
    "pymunk>=7.1.0",
    "snakeviz>=2.2.2",
    "textx>=4.2.2",
    "typer>=0.16.1",
    "numba>=0.60.0",
    "numpy>=1.24.0",
    "ursina>=8.1.1",
    "panda3d-simplepbr>=0.13.1",
    "panda3d-gltf>=1.3.0",
]
